<div class="col offset-s1 s10 services admin center">
    <div class="row center">
        <form class="col s12 center">
        {% if data['section'] == 'blog' %}
        <h1 class="hidden">Admin Zona - Kreiraj Blog Tekst</h1>
        
          {% include 'includes/admin/forms/blog-form.html' %}            
           
        {% elif data['section'] == 'cook' %}

        {% elif data['section'] == 'video' %}
        {% else %}
            <h1 class="hidden">Admin Zona - Data Sekcija Ne Postoji</h1>
        {% endif %}
  </div>
</div>`