{% extends "layout.html" %}

{% block metatags %}
    {% if data['blogPost'] %}
          {% include 'includes/blog/meta-tags-blog-post.html' %}
    {% else %}
          {% include 'includes/common/meta-tags.html' %}
    {% endif %}
{% endblock %} 

{% block headerFirstTitle %} Lični Fitnes Trener {% endblock %} 

{% block headerSecondTitle %} Jelena Stevanovic {% endblock %} 

{% block content %}
  <div class="component blog">
    <div class="row">
      {% include 'includes/common/sidebar.html' %}
      <div class="col s11" onclick="closeAlreadyOpenedMenu(null)">
        {% if data['blogCategory'] %}
          {% include 'includes/blog/blog-category-page.html' %}
        {% elif data['blogPost'] %}
          {% include 'includes/blog/blog-single-post-page.html' %}
        {% else %}
          {% include 'includes/blog/blog-home-page.html' %}        
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}