
{% extends "layout.html" %}

{% block metatags %}
  {% include 'includes/common/meta-tags.html' %}   
{% endblock %}

{% block headerFirstTitle %} Personalni Trener {% endblock %}

{% block headerSecondTitle %} Jelena Stevanovic {% endblock %}

{% block content %}
  <div class="col s12 landing component">
    <div class="col offset-s1 s10">
        <h3>diplomirani fitness trener</h3>
        <h2>Jelena Stevanović</h2>
        <h1>Lični trener za zene u Novom Sadu, personalni treninzi, pravljenje programa, funkcionalna dijagnostika, korekcija ishrane, grupni treninzi, joga za trudnice...</h1>
        <a class="waves-effect waves-light btn-large" href="/fitnes-blog-saveti-za-zene">Blog</a>
        <a class="waves-effect waves-light btn-large" href="/fitnes-kuvar-zdrava-hrana-recepti">Moj Kuvar</a>
    </div>
</div>
{% endblock %}